.gradient-custom {
  background: rgb(209, 65, 65);
  background: radial-gradient(
    circle,
    rgba(209, 65, 65, 1) 3%,
    rgba(160, 98, 110, 0.989233193277311) 100%
  );
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #000;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

body {
  background: rgb(209, 65, 65);
  background: radial-gradient(
    circle,
    rgba(209, 65, 65, 1) 3%,
    rgba(160, 98, 110, 0.989233193277311) 100%
  );
}
